fastapi[standard]>=0.112.0
uvicorn>=0.30.5
sqlalchemy>=2.0.32
alembic>=1.13.2
asyncpg>=0.29.0
psycopg2-binary>=2.9.9
pydantic>=2.8.2
pydantic-settings>=2.4.0
PyJWT>=2.9.0
passlib[bcrypt]>=1.7.4
bcrypt==4.0.1
python-multipart>=0.0.9
slowapi>=0.1.9
pandas>=2.2.2
google-genai>=0.2.2
google-cloud-translate>=3.12.0
reportlab>=4.2.2
python-dotenv>=1.0.1
apscheduler>=3.10.0
